<!-- eslint-disable @angular-eslint/template/elements-content -->
<div
  class="flex flex-column bg-white w-full p-3 border-round-lg font-normal justify-content-center align-items-flex-start"
>
  <h2 class="pb-3">Редактировать курс</h2>
  <form
    *ngIf="editCourseForm"
    [formGroup]="editCourseForm"
    (ngSubmit)="editCourse()"
    class="flex flex-column pt-3 justify-content-center align-items-flex-start"
  >
    <label class="flex flex-column mb-2">
      Наименование*
      <input formControlName="title" pInputText class="w-6 mt-2" />
    </label>
    <div
      class="text-red-500"
      *ngIf="title?.invalid && (title?.dirty || title?.touched)"
    >
      <span *ngIf="title?.errors?.['required']">Заголовок обязателен.</span>
      <span *ngIf="title?.errors?.['maxlength']"
        >Максимальная длина 50 символов.</span
      >
    </div>
    <label class="flex flex-column mt-2 mb-2">
      Описание*
      <textarea
        formControlName="description"
        pInputTextarea
        class="w-6 mt-2"
      ></textarea>
    </label>
    <div
      class="text-red-500"
      *ngIf="
        description?.invalid && (description?.dirty || description?.touched)
      "
    >
      <span *ngIf="description?.errors?.['required']"
        >Описание обязательно.</span
      >
      <span *ngIf="description?.errors?.['maxlength']"
        >Максимальная длина 500 символов.</span
      >
    </div>
    <app-duration-edit-input [duration]="duration"></app-duration-edit-input>
    <label class="flex flex-column mt-2 mb-2">
      Дата*
      <input
        formControlName="creationDate"
        pInputText
        type="date"
        class="w-6 mt-2"
      />
    </label>
    <div
      class="text-red-500"
      *ngIf="
        creationDate?.invalid && (creationDate?.dirty || creationDate?.touched)
      "
    >
      <span *ngIf="creationDate?.errors?.['required']">Дата обязательна</span>
    </div>
    <app-authors-edit-input
      [authors]="authors"
      [filteredAuthors]="filteredAuthors"
      (getFilterAuthors)="getFilteredAuthors($event)"
    ></app-authors-edit-input>
    <div class="flex gap-2 mt-4">
      <button
        pButton
        label="Отмена"
        class="h-full no-underline text-primary custom_cancel-button"
        (click)="cancel()"
      ></button>
      <button
        pButton
        label="Сохранить"
        class="p-button-primary h-full no-underline"
        [disabled]="!editCourseForm.valid"
        type="submit"
      ></button>
    </div>
  </form>
</div>
