<header class="flex py-3 surface-50 w-full px-6 shadow-5">
  <div
    class="flex flex-row justify-content-between w-full m-auto font-medium custom_main-header-inner"
  >
    <app-logo></app-logo>
    <div
      *ngIf="userIsLoggedin"
      id="{{ user.id }}"
      class="ml-2 gap-3 flex flex-row justify-content-between align-items-center"
    >
      <a
        href="#"
        class="text-900 no-underline flex flex-row justify-content-center align-items-center"
      >
        <i class="pi pi-user mr-2"></i>
        <span>{{ user.firstName + " " + user.lastName }}</span>
      </a>
      <button
        pButton
        routerLink="/login"
        routerLinkActive="active"
        class="text-900 no-underline flex flex-row justify-content-center align-items-center p-button-link font-medium"
        (click)="logout()"
      >
        <i class="pi pi-sign-out mr-2"></i>
        <span>Выход</span>
      </button>
    </div>
  </div>
</header>
