<!-- eslint-disable @angular-eslint/template/elements-content -->
<div
  class="flex flex-column bg-white w-full p-3 border-round-lg font-normal justify-content-center align-items-flex-start"
>
  <h2 class="pb-3">Новый курс</h2>
  <form
    class="flex flex-column pt-3 justify-content-center align-items-flex-start gap-5"
  >
    <input
      pInputText
      placeholder="Наименование*"
      class="w-6"
      [value]="courseFields.title"
      (input)="courseFields.title = getName($event)"
    />
    <textarea
      pInputTextarea
      placeholder="Описание*"
      class="w-6"
      [value]="courseFields.description"
      (input)="courseFields.description = getDescription($event)"
    ></textarea>

    <label class="flex flex-column">
      <input
        pInputText
        placeholder="Продолжительность*"
        type="number"
        class="w-6"
        [value]="courseFields.duration"
        (input)="courseFields.duration = getDuration($event)"
      />
      <div *ngIf="courseFields.duration" class="ml-2">
        {{ (courseFields.duration | duration) ?? "" }}
      </div>
    </label>
    <input
      pInputText
      placeholder="Дата*"
      type="date"
      class="w-6"
      [value]="courseFields.creationDate"
      (input)="courseFields.creationDate = getDate($event)"
    />
    <input
      pInputText
      placeholder="Авторы*"
      class="w-6"
      [value]="courseFields.authors"
    />
    <div class="flex gap-2">
      <button
        routerLink="/courses"
        routerLinkActive="active"
        pButton
        label="Отмена"
        class="h-full no-underline text-primary custom_cancel-button"
      ></button>
      <button
        pButton
        routerLink="/courses"
        routerLinkActive="active"
        label="Сохранить"
        class="p-button-primary h-full no-underline"
        [disabled]="!createIsAble ? false : true"
        (click)="addNewCourse()"
      ></button>
    </div>
  </form>
</div>
