<div
  class="flex flex-row justify-content-center align-items-center w-full p-3 border-round-lg font-normal gap-3 bg-white"
>
  <div class="flex flex-column justify-content-center align-items-center gap-3">
    <div
      class="flex flex-row justify-content-center align-items-center w-10rem h-10rem bg-blue-100 border-circle"
    >
      <i class="pi pi-ban text-6xl text-primary"></i>
    </div>
    <div class="text-2xl">Ничего не найдено</div>
    <button
      (click)="resetFilters()"
      pButton
      class="p-element p-button-primary h-full no-underline p-button p-component"
    >
      Сбросить фильтры
    </button>
  </div>
</div>
