<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="flex border-round-lg font-normal">
  <div class="flex flex-row justify-content-between flex-wrap w-full">
    <div class="flex flex-row justify-content-center">
      <div class="relative">
        <i class="pi pi-search absolute custom_icon-search top-50"></i>
        <input
          type="text"
          name="search"
          placeholder="Поиск"
          class="border-round-sm pl-6 py-3 pr-3 border-1 border-300 outline-none"
          [value]="inputText"
          (input)="inputText = getCourse($event)"
        />
      </div>
      <button
        pButton
        label="Поиск"
        class="p-button-help ml-3"
        (click)="findCourse()"
      ></button>
    </div>
    <button
      pButton
      label="Добавить курс"
      class="p-button-primary"
      icon="pi pi-check"
    ></button>
  </div>
</div>
