<div class="flex border-round-lg font-normal">
  <div class="flex flex-row justify-content-between flex-wrap w-full">
    <div class="flex flex-row justify-content-center">
      <div class="relative">
        <i class="pi pi-search absolute custom_icon-search top-50"></i>
        <input
          type="text"
          name="search"
          placeholder="Поиск"
          class="border-round-sm pl-6 py-3 pr-3 border-1 border-300 outline-none"
          [value]="inputText"
          (input)="inputText = getCourse($event)"
        />
      </div>
      <button
        class="bg-indigo-400 p-3 border-round-sm outline-none border-none text-white ml-2 cursor-pointer"
        (click)="findCourse()"
      >
        Поиск
      </button>
    </div>
    <button
      class="flex flex-row justify-content-center align-items-center bg-blue-500 p-3 border-round-sm outline-none border-none text-white ml-2 cursor-pointer"
    >
      <i class="pi pi-plus mr-2"></i>
      Добавить курс
    </button>
  </div>
</div>
