<!-- eslint-disable @angular-eslint/template/elements-content -->
<!-- <app-breadcrumbs class="w-full" [routes]="routes"></app-breadcrumbs> -->
<ng-container>
  <div class="flex flex-row justify-content-between w-full">
    <app-search (find)="findCourse($event)" #searchComponent></app-search>
    <a
      routerLink="/courses/new"
      routerLinkActive="active"
      pButton
      label="Добавить курс"
      class="p-button-primary h-full no-underline"
      icon="pi pi-check"
    ></a>
  </div>
  <app-courses
    class="flex flex-column justify-content-start gap-4 mt-4"
    [courses]="(courses | async)! || []"
    (courseToEdit)="getCourseToEdit($event)"
    (resetAll)="resetFilters()"
    (delete)="showDeleteConfirm($event)"
    [isNotFound]="isNotFound"
  ></app-courses>
  <app-show-more-button
    class="mx-auto my-0 flex justify-content-center"
    (showMore)="loadMore($event)"
  ></app-show-more-button>
</ng-container>
